<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.project.astroavi.hellonotif">

    <uses-permission
        android:name="android.permission.GET_ACCOUNTS"
        tools:node="remove" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/notification"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.project.astroavi.hellonotif.Activity.MainActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="com.project.astroavi.hellonotif.Activity.SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.project.astroavi.hellonotif.Activity.AppsGridScreen"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.project.astroavi.hellonotif.Activity.FirstScreen"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.project.astroavi.hellonotif.Activity.AboutActivity"
            android:screenOrientation="portrait" />

        <service
            android:name="com.project.astroavi.hellonotif.Service.NotifService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">

            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
    </application>

</manifest>